/*
    Header css
    includes header logo and title
*/
.feedback-header {
  border-top: 2px solid blue;
  padding: 10px;
  background-color: #fff;
}
.feedback-header-logo {
  float: left;
  width: 50%;
}
.feedback-header-title {
  float: right;
  width: 50%;
  text-align: right;
  margin: 15px 0 12px 0;
}
.feedback-header-title h1 {
  color: blue;
  margin: 0px !important;
  padding: 0px;
  font-size: 16px !important;
}
.feedback-header-title i {
  color: rgb(56, 56, 56);
  margin-left: 10px;
}
.feedback-header-title h2 {
  font-size:12px;
  margin: 0px;
  margin-right: 50px;
  padding: 0px;
}
.feedback-header-title h2 span {
  color: #db2828;
}
