.header-nav {
  color: #fff;
  padding: 10px 10px 12px 10px;
  background-color: #004a8f;
}
.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav ul li {
  float: left;
  width: 33%;
  border-right: 1px solid #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.header-nav ul li.last-nav {
  border-right: 0px;
}
.header-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.header-nav ul li a:hover {
  color: #ccc;
}
.clear {
  clear: both;
}
