/*
 re-usable css across the application
*/
.app-wrapper {
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-float {
  clear: both;
}
.responsive-image {
  width: 100%;
  height: auto;
}
.container-box {
  background-color: #fff;
  border-radius: 10px;
  max-width: 650px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.06),
    0 9px 16px 4px rgba(0, 0, 0, 0.12);
}
.intro-image {
  width: 38%;
}
.intro-text {
  width: 60%;
}